<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <fieldTypes>
      <fieldType name="Droplist" set:type="Sitecore.Support.Data.Fields.ValueLookupField, Sitecore.Support.115854" />
      <fieldType name="valuelookup" set:type="Sitecore.Support.Data.Fields.ValueLookupField, Sitecore.Support.115854" />
    </fieldTypes>
    <pipelines>
      <getLookupSourceTargetItem>
        <processor type="Sitecore.Support.Pipelines.GetLookupSourceTargetItem.ProcessQuerySource, Sitecore.Support.115854" method="Execute"/>
        <processor type="Sitecore.Support.Pipelines.GetLookupSourceTargetItem.ProcessDefaultSource, Sitecore.Support.115854" method="Execute"/>
      <processor type="Sitecore.Support.Pipelines.GetLookupSourceTargetItem.GetAccountsDataSource, Sitecore.Support.115854" method="Execute"/>
      </getLookupSourceTargetItem>
    </pipelines>
    <LinkDatabase set:type="Sitecore.Support.Data.SqlServer.ParallelSqlServerLinkDatabase, Sitecore.Support.115854" />
    <settings>
      <setting name="LinkDatabase.ParallelRebuild.Enabled" set:value="true" />
      <setting name="LinkDatabase.ParallelRebuild.MaxThreadLimit" set:value="4" />
    </settings>
  </sitecore>
</configuration>