<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <LinkDatabase set:type="Sitecore.Support.Data.SqlServer.ParallelSqlServerLinkDatabase, Sitecore.Support.115854" />
    <settings>
      <setting name="LinkDatabase.ParallelRebuild.Enabled" set:value="true" />
      <setting name="LinkDatabase.ParallelRebuild.MaxThreadLimit" set:value="4" />
    </settings>
  </sitecore>
</configuration>